@font-face {
  font-family: "Genome";
  src: url("Genome-Thin.otf");
}

body {
  background-color: #221E20;
  font-family: Genome;
  /*font-weight: bold;*/
  font-size: 24px;
}

.home {
  height: 735px;
}

.opacity {
  position: absolute;
  width: 100%;
  height: 735px;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  background-color: black;
  opacity: 0.6;
}

.background {
  position: absolute;
  width: 100%;
  height: 735px;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.background-two {
  /*position: relative;*/
  /*margin-top: 100px;*/
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.space {
  height: 200px;
  color: white;
}

.space-two {
  height: 25px;
  color: white;
}

.name {
  text-align: center;
  color: white;
  font-size: 5em;
  z-index: 1;
  line-height: 98%;
  cursor:default;
}

.slogan {
  text-align: center;
  color: white;
  font-size: 2em;
  z-index: 1;
  line-height: 110%;
  cursor:default;
}

.button {
  text-align: center;
  margin-bottom: 10px;
  color: white;
  z-index: 2;
}

.help {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

#remove {
  font-size: .3em;
}

.back {
  font-size: .4em;
  color: white;
  margin-top: 10px;
}

.back-size {
  font-size: .4em;
  color: white;
  margin-top: 10px;
}

.arrow {
  position: relative;
  margin-top: -5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.arrow-size {
  position: relative;
  margin-top: -5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.arrow-sauce {
  position: relative;
  margin-top: -5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.arrow-meats {
  position: relative;
  margin-top: -5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}


.arrow-veggies {
  position: relative;
  margin-top: -5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.arrow-options {
  position: relative;
  margin-top: -5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.arrow-back {
  position: relative;
  margin-top: -5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.info {
  text-align: center;
  color: white;
  font-size: .9em;
  z-index: 1;
  padding-top: 5px;
  cursor: pointer;
}

.understand {
  width: 900px;
}

.icon {
  height: 100px;
  width: 100px;
  z-index: 2;
  margin-left: 32%;
}

h4 {
  text-align: center;
  font-size: 1em;
}

.description {
  margin-top: 3px;
  text-align: center;
  font-size: .6em;
}

.modal-footer {
  text-align: center;
}


.build {
  height: 768px;
  display: none;
}

.build-two {
  display: none;
 /*visibility: hidden;*/
}

.carousel {
  width: 100%;
  height: 320px;
}

.status {
  z-index: 2; !important;
}

.btn {
  font-size: 2em;
}

.building {
  text-align: center;
  color: white;
  font-size: 2em;
  z-index: 1;
  margin-top: 10px;
  /*margin-bottom: 15px;*/
  cursor:default;
}

.size {
  text-align: center;
  color: white;
  font-size: 3em;
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor:default;
}

label {
  color: white;
}

.final {
  text-align: center;
  font-size: 1em;
  color: white;
}

.modal-dialog {
  z-index: 2;
}

.modal-header {
  background-color: #D03B3B;
  color: white;
}

.modal-content {
  background-color: #221E20;
  color: white;
}

.submit {
  font-size: 0.8em;
}

.buy {
  display: none;
  /*visibility: hidden;*/
  /*margin-top: -50%;*/
}

.price {
  font-size: 0.8em;
  color: white;
}

.purchase-modal {
  font-size: 0.5em;
  color: white;
}

.toppings {
  font-size: 0.5em;
  color: white;
}

.table {
  margin-bottom: 0;
}

th {
  text-align: center;
}

.order-options {
  display: none;
}

.pizza-review {
  text-align: center;
  font-size: .9em;
  color: white;
}

.thanks {
  display: none;
}

.order {
  font-size: .5em;
}

.place {
  font-size: .8em;
}

.delivery {
  display: block;
}

.pizza-size {
  display: none;
}

.pizza-sauce {
  display: none;
}

.pizza-meats {
  display: none;
}

.pizza-veggies {
  display: none;
}

.pizza-options {
  display: none;
}


@media (max-width: 992px) {
  body {
    font-size: 16px
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px
  }

  .home {
    height: 300px;
  }

  .opacity {
    height: 300px;
  }

  .background {
    height: 300px;
  }

  .space {
    height: 100px;
  }

  .help {
    height: 40px;
    width: 40px;
  }

  .extra {
    height: 30px;
  }

  #review {
    font-size: 2em;
  }

  .final {
    font-size: 2em;
  }
}

@media (max-width: 645px) {
  body {
    font-size: 7px;
  }

  #review {
    font-size: 2em;
  }

  .size {
    font-size: 4em;
  }

  .final {
    font-size: 2em;
  }

}

